@import '../../constants/color.css';

.card-service {
    background-color: #f3f3f3;
    color: rgb(54, 54, 54);
    padding: 2rem 5rem 2rem 5rem;
}

.card-service .big-title {
    font-size: 2rem;
    font-weight: 600;
}

.card-service span {
    font-weight: 600;
}

.card-service .body {
    margin-top: 3rem;
}

.card-service .body .row {
    display: flex;
    justify-content: center;
    column-gap: 3vw;
    margin-bottom: 2rem;
}