.signup {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.signup button {
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.signup .terraceImg {
    width: 55%;
    height: 100%;
    object-fit: cover;
    background-color: aquamarine;
}

.signup .rightDiv {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.5rem;
}

.signup .rightDiv h1 {
    background: linear-gradient(to right, rgb(237, 95, 0), rgb(219, 88, 0));
    background-clip: text;
    color: transparent;
}

.signup .rightDiv .logo {
    height: 4rem;
    cursor: pointer;
}

.signup .rightDiv .bottomNav {
    position: absolute;
    bottom: 2rem;
}

.signup .rightDiv .loginBtn {
    margin-top: 2rem;
    color: white;
    font-weight: 600;
    background: linear-gradient(to right, rgb(246, 99, 0), rgb(219, 88, 0));
    border-radius: 20px;
    width: 40%;
    height: 2.5rem;
}
.signup .rightDiv .loginBtn:active {
    filter: brightness(0.9);
}

.signup .rightDiv .forgetBtn {
    border-radius: 20px;
    width: 40%;
    height: 2.5rem;
    font-weight: 600;
    color: #ed5f00;
    background-color: transparent;
}
.signup .rightDiv .forgetBtn:hover {
    background-color: rgb(246, 246, 246);
}
.signup .rightDiv .forgetBtn:active {
    background-color: rgb(232, 232, 232);
}

.signup .rightDiv .bottomNav {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
}

.signup .rightDiv .bottomNav a {
    color: rgb(72, 72, 72);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
}

.signup .MuiTextField-root {
    width: 50%;
}

@media screen and (max-width: 800px) {
    .signup .terraceImg {
        width: 0;
    }

    .signup .rightDiv {
        width: 100%;
    }
}

@media screen and (max-height: 500px) {
    .signup .rightDiv .language,
    .signup .rightDiv .bottomNav {
        visibility: hidden;
    }
}